.hero {
  padding: 160px 20px;
  padding-left: 100px;
  padding-bottom: 0px;
}
.hero h1 {
  font-size: 50px;
}
.hero h2 {
  font-family: poppins;
  font-size: 25px;
}
.hero img {
  width: 400px;
  height: 50%;
  position: relative;
  left: 600px;
  top: -270px;
}
.btn-branding {
  background: #80bbb9;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  
}
.btn-brand2{
   display: block;
  margin: auto;
  width: 180px;
}
footer {
  text-align: center;
  padding-bottom: 0px;
  font-size: 40px;
}

footer i {
  margin: 0 20px;
}
.btn-primary {
  background-color: #80bbb9;
  display: block;
  margin: auto;
}
.contact-head {
  text-align: center;
  padding-top: 10px;
}
.form-group {
  width: 600px;
  margin: 0 auto;
  padding-left: 20px;
}
.service-paragraphs {
  display: flex;
  margin: 30px 0;
}
.service-paragraphs p {
  background: #ffffff;
  margin: 10px;
  text-align: center;
}
.projects:hover {
  box-shadow: 0px 15px 30px rgba(77, 87, 222, 0.3);
  background: #fff;
}
.service-paragraphs img {
  width: 300px;
}
.contact-head {
  font-size: 50px;
  font-family: "raleway-bold";
  padding-top: 40px;
}
.portfolio-title {
  text-align: center;
  padding-top: 40px;
  font-size: 50px;
  font-family: "raleway-bold";
}
.about-title{
    text-align: center;
    font-size: 50px;
    padding-top: 40px;
    font-family: "raleway-bold";
}
.about-title2{
  text-align: center;
  font-size: 50px;
  padding-top: 40px;
  font-family: "raleway-bold";
}
.services:hover{
box-shadow: 0px 15px 30px rgba(77, 87, 222, 0.3);

}
.services i{
    font-size: 40px;
    padding-bottom: 20px;
    background-color: #f9f9fd;
}
h4{
    text-align: center;
}
.head{
  text-align: center;
}
.about-p{
  padding: 30px;
}
@media (max-width: 576px){

  .hero h1{
    font-size: 25px;
  }
.hero h2{
  font-size: 20px;
}
footer{
  padding-top: 60px;
}
.form-group{
  width:300px;
}
.about-title{
  font-size: 25px;
}
.services{
  display: none;
}

.about-title2{
  display: none;
}
.head{
  font-size: 20px;
}
.portfolio-title{
  font-size: 25px;
}
.contact-head{
  font-size: 25px;
}
}