:root {
  --brading-color: #80bbb9;
}

.hero {
  padding: 160px 20px;
  padding-left: 100px;
}
.hero h1 {
  font-size: 50px;
}
.hero h2 {
  font-family: poppins;
  font-size: 25px;
}
img {
  width: 400px;
  height: 50%;
  position: relative;
  left: 600px;
  top: -270px;
}
.btn-branding {
  background: #80bbb9;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
footer {
  text-align: center;
  padding-bottom: 150px;
  font-size: 40px;
}
